<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SplitCalc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A3E90D71C6D6FD2005FC651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A3E90EB1C6D6FD2005FC651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A3E90F61C6D6FD2005FC651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
